# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# CLion Files
**/.idea
**/cmake-build-debug
**/CMakeFiles

# 2nd layer of safety for CMake
CMake*
Makefile
cmake*

# Libraries
**/Dependencies

# Save Files
**/Slot 0
**/Slot 1
**/Slot 2
**/Slot 3