# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# CLion Files
**/.idea
**/cmake-build-debug
**/CMakeFiles

# 2nd layer of safety for CMake
CMake*
Makefile
cmake*

# Libraries
**/Dependencies
/Dependencies/mingw64
/Dependencies/SFML-2.5.1
Dependencies/mingw64/share/gdb/python/gdb/types.pyc
Dependencies/mingw64/share/gdb/python/gdb/prompt.pyc
Dependencies/mingw64/share/gdb/python/gdb/printing.pyc
Dependencies/mingw64/share/gdb/python/gdb/printer/bound_registers.pyc
Dependencies/mingw64/share/gdb/python/gdb/printer/__init__.pyc
Dependencies/mingw64/share/gdb/python/gdb/function/strfns.pyc
Dependencies/mingw64/share/gdb/python/gdb/function/caller_is.pyc
Dependencies/mingw64/share/gdb/python/gdb/function/as_string.pyc
Dependencies/mingw64/share/gdb/python/gdb/function/__init__.pyc
Dependencies/mingw64/share/gdb/python/gdb/frames.pyc
Dependencies/mingw64/share/gdb/python/gdb/FrameIterator.pyc
Dependencies/mingw64/share/gdb/python/gdb/FrameDecorator.pyc
Dependencies/mingw64/share/gdb/python/gdb/command/xmethods.pyc
Dependencies/mingw64/share/gdb/python/gdb/command/unwinders.pyc
Dependencies/mingw64/share/gdb/python/gdb/command/type_printers.pyc
Dependencies/mingw64/share/gdb/python/gdb/command/prompt.pyc
Dependencies/mingw64/share/gdb/python/gdb/command/pretty_printers.pyc
Dependencies/mingw64/share/gdb/python/gdb/command/frame_filters.pyc
Dependencies/mingw64/share/gdb/python/gdb/command/explore.pyc
Dependencies/mingw64/share/gdb/python/gdb/command/__init__.pyc
Dependencies/mingw64/share/gdb/python/gdb/__init__.pyc
Dependencies/mingw64/opt/lib/python2.7/weakref.pyc
Dependencies/mingw64/opt/lib/python2.7/warnings.pyc
Dependencies/mingw64/opt/lib/python2.7/UserDict.pyc
Dependencies/mingw64/opt/lib/python2.7/types.pyc
Dependencies/mingw64/opt/lib/python2.7/traceback.pyc
Dependencies/mingw64/opt/lib/python2.7/sysconfig.pyc
Dependencies/mingw64/opt/lib/python2.7/stat.pyc
Dependencies/mingw64/opt/lib/python2.7/sre_parse.pyc
Dependencies/mingw64/opt/lib/python2.7/sre_constants.pyc
Dependencies/mingw64/opt/lib/python2.7/sre_compile.pyc
Dependencies/mingw64/opt/lib/python2.7/site.pyc
Dependencies/mingw64/opt/lib/python2.7/re.pyc
Dependencies/mingw64/opt/lib/python2.7/os.pyc
Dependencies/mingw64/opt/lib/python2.7/ntpath.pyc
Dependencies/mingw64/opt/lib/python2.7/locale.pyc
Dependencies/mingw64/opt/lib/python2.7/linecache.pyc
Dependencies/mingw64/opt/lib/python2.7/keyword.pyc
Dependencies/mingw64/opt/lib/python2.7/heapq.pyc
Dependencies/mingw64/opt/lib/python2.7/genericpath.pyc
Dependencies/mingw64/opt/lib/python2.7/functools.pyc
Dependencies/mingw64/opt/lib/python2.7/encodings/cp1252.pyc
Dependencies/mingw64/opt/lib/python2.7/encodings/aliases.pyc
Dependencies/mingw64/opt/lib/python2.7/encodings/__init__.pyc
Dependencies/mingw64/opt/lib/python2.7/copy_reg.pyc
Dependencies/mingw64/opt/lib/python2.7/copy.pyc
Dependencies/mingw64/opt/lib/python2.7/collections.pyc
Dependencies/mingw64/opt/lib/python2.7/codecs.pyc
Dependencies/mingw64/opt/lib/python2.7/abc.pyc
Dependencies/mingw64/opt/lib/python2.7/_weakrefset.pyc
Dependencies/mingw64/opt/lib/python2.7/_sysconfigdata.pyc
Dependencies/mingw64/opt/lib/python2.7/_abcoll.pyc
*.pyc
